<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=a, initial-scale=1.0">
    <title>MainPage</title>
</head>
<body>
    <h1>Main Page 입니다.</h1>

    <a href="/new">데이터 추가하기</a>

    <div th:if = "${dataList != null}">
        <table border="1">
            <tr>
                <th>Writer</th>
                <th>Title</th>
                <th>Content</th>
            </tr>
            <tr th:each="d : ${dataList}">
                <td th:text="${d.writer}"></td>
                <td th:text="${d.title}"></td>
                <td th:text="${d.content}"></td>
            </tr>
        </table>
    </div>

    <div th:if = "${dataList == null}">
        <h6>데이터 없음</h6>
    </div>

</body>
</html>